body{
    background-color:  #f0f0f0;
}
.img{
    width: 300px;
    padding: 50px;
    margin: 20px; 
  }
.card {
    margin-right:1%;
    margin-left:1%;
    margin-top:1.5%;
    background-color: white;
    height: 110px;
    width:auto;
    padding: 20px 20px 12px 12px;
 }
.img_card{
    padding: 5px;
    width: 80px;
 }
 
.name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        {
    float: left;
    position: absolute;
}  
.boxtwo{
   transition: 0.3s;
  border-radius: 0px 0px 5px 5px;
  color: blue;
  margin-top: 0px;
  background-color: white;
  min-height: 100%;
  width: 55%;
  display:flex;
  float: left;
  padding: 20px 20px 12px 12px;
}
.boxthree {
  transition: 0.3s;
  border-radius: 5px 5px 5px 5px;
  color: blue;
  margin-top: 0px;
  margin-left: 5%;
  background-color: white;
  min-height: 10px ;
  width: 35%;
  padding: 10px 10px 10px 10px;
  float: right;
}
.boxone {
  transition: 0.3s;
  border-radius: 0px;
  color: blue;
  margin-top: 20px;
  background-color: white;
  min-height: 5px;
  width: 10%;
  display:flex;
  object-fit: inherit;
  
}

 